.splash-screen{
    height: 100vh;
    width: 100%;
}

.splash-screen-position{
    position:absolute;
    top: 0;
    left: 0;
}

.splash-screen-b-b{
    position: relative;
    background-color: black;
    z-index: 99;
    height: 100%;
    width: 100%;
    transform: scaleX(2);
    transform-origin: left;
}

.splash-screen-r-b{
    position: relative;
    background-color: white;
    z-index: 99;
    height: 100%;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
}

.b-b-close{
    transform: scaleX(0);
    transition: transform 2s;
}

.r-b-open{
    transform: scaleX(2);
    transition: transform 2s;
}

.splash-screen-title h1{
    position: relative;
    -webkit-background-clip: text;
    z-index: 106;
}

.splash-screen-position-box{
    position:absolute;
    top: 0;
    left: 0;
}

.splash-screen-title-box{
    background-color: transparent;
    z-index: 105;
    overflow: hidden;
    height: 150px;
    width: auto;
}

.splash-screen-title-box-position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.fade-all{
    transform: scaleY(0);
    transition: transform 3s;
}

.splash-screen-subtitle-fade{
    position: absolute;
    top: 100%;
}

.splash-screen-subtitle-visible{
    top:40%;
    transition: all 2s 1s;
}

.position-out{
    top:100%;
}

.slide-left{
    top:40%;
    transition: all 1s;
}
