
<div class="splash-screen splash-screen-position align-content-center d-flex" [class.fade-all]="isFadeAll" >
    <div class="splash-screen-b-b" [class.b-b-close]="isHidden">
    </div>
    <div class="splash-screen-r-b" [class.r-b-open]="isHidden">

    </div>

    <div class="splash-screen-title-box splash-screen-title-box-position">

       <app-name-rotate></app-name-rotate>
        <div class="splash-screen-subtitle-fade d-inline-block serif-style-normal-2" [class.slide-left]="isSliding" [class.position-out]="isPositionOut">
            <h2 class="display-5 text-uppercase">
                {{currentWord}}
            </h2>
        </div>
    
    </div>
    
</div>

