.uc-navbar-bg{
   
}

.uc-navbar-items-color{

}

.uc-navbar-height{
    height:6rem ;
}

.nav-item-font-properties li a{
    font-family: "Roboto Condensed", sans-serif!important;
    font-optical-sizing: auto;
    font-weight: 200!important;
    font-size: 1.8rem;
    font-weight: 300;
}

.nav-item a{
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

.nav-item a:hover{
    color: #f93700!important;
}

.nav-item a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1rem;
    background-color: #f93700;
    transition: 0.3s ease;
}

.nav-item a:hover::before{
    width: 100%;
    right: 0;
    transform-origin: right;
}
