
<nav appScrollNavbar id="navbar" class="navbar navbar-expand-lg uc-navbar-bg uc-navbar-height position-properties w-100 bg-lighter navbar-open">
    <div class="container-fluid ">
        <div  id="uc-social-row"class="social-row">
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul id="nav-items-list"class="navbar-nav my-2 my-lg-0 navbar-nav-scroll w-100 justify-content-evenly nav-item-font-properties" style="--bs-scroll-height: 100px;">
                <li class="nav-item d-flex has-submenu">
                    <a class="nav-link active uc-navbar-items-color" aria-current="page" routerLink="/menu">Menu</a>
                    <div id="uc-submenu" class="submenu">
                        <ul>
                            <li>1</li>
                            <li>2</li>

                            <li>3</li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link active uc-navbar-items-color" aria-current="page" routerLink="/test">Test</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link active uc-navbar-items-color" aria-current="page" routerLink="/test2">Test2</a>
                </li>
                <li class="nav-item d-flex">
                    <a class="nav-link active uc-navbar-items-color" aria-current="page" routerLink="/geometric">Geometric</a>
                </li>
                
            </ul>
            
      </div>
      
    </div>
</nav>


