<nav appScrollNavbar id="navbar" id="my-nav" class="navbar navbar-expand-lg uc-navbar-bg uc-navbar-height position-properties w-100 bg-lighter navbar-open text-capitalize">
    <div class="container-fluid">
        <div id="uc-social-row" class="social-row">
            <div id="uc-social-icon-containter" class="d-flex justify-content-end">
                <fa-icon [icon]="faFacebook" class="uc-icon-color uc-icon-pd uc-icon-dim"></fa-icon>
                <fa-icon [icon]="faInstagram" class="uc-icon-color uc-icon-pd uc-icon-dim"></fa-icon>
            </div>
        </div>
        <div class="my-nav-list text-end">
            <ul class="my-nav-item-collection d-flex">
                <!-- Usa solo un ngFor -->
             
                <li class="my-nav-item" #navItem>
                    <a routerLink="home2" class="nav-link active text-uppercase " aria-current="page">Home2</a>
                </li>
                <!--
                    <li *ngFor="let page of pages_key" class="my-nav-item text-end" #navItem>
                        <a [routerLink]="['../',page]" class="nav-link active text-uppercase" aria-current="page">{{ page | titlecase }}</a>
                    </li>  -->

                <ng-container *ngFor="let nav_detail of nav_details_DB; index as i">
                    <ng-container *ngIf="nav_detail.nav_group_name===''">
                        <li *ngFor="let pageName of nav_detail.pages" class="my-nav-item" #navItem>
                            <a [routerLink]="['../', pageName]" class="nav-link active text-uppercase"
                                aria-current="page">{{ pageName| titlecase }}
                            </a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="nav_detail.nav_group_name!=''">
                        <div class="my-nav-item text-uppercase dropdown has-submenu" #navItem data-index="i">
                            {{i}}
                            {{ nav_detail.nav_group_name }}
                            <ul class="p-0 uc-submenu submenu">
                                <li *ngFor="let pageName of nav_detail.pages" class="my-nav-item" #navItem>
                                    <a [routerLink]="['../', pageName]" class="nav-link active text-uppercase"
                                        aria-current="page">
                                        {{ pageName | titlecase }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>