<div class="container-fluid menu-container-position menu-bg p-0 d-flex">
    <div class="menu-items align-self-end">
        <ul class="d-inline-block display-4 ps-5 pb-5 ">
            <li class="d-inline-block">
                Menu
            </li>
            <li class="serif-style-normal-2 text-uppercase">
                About
            </li>
            <li class="text-uppercase">
                Fotografia
            </li>
            <li class="serif-style-normal-2">
                Illuminotecnica
            </li>
            <li>
                Contatti
            </li>
        </ul>
    </div>

</div>
