.menu-bg{
    background-color: black;
    height: 100vh;
}

.menu-items{
    color: white;
}

.menu-items ul {
    list-style-type: none;
    padding-left: 0; /* opzionale, per rimuovere anche il rientro a sinistra */
}

.menu-container-position{
    position: absolute;
    top: 0;
}