.menu-bg{
    background-color: black;
    height: 100vh;
}

.menu-items{
    color: white;
}

.menu-items ol {
    /*list-style-type: decimal;*/
    margin-left: 5rem; /* opzionale, per rimuovere anche il rientro a sinistra */
}

.menu-container-position{
    position: absolute;
    top: 0;
}

.text-border {
    color: transparent;
    font-size: 4rem;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
}