.img-container{
    position: relative;
    height: 25rem;
}

.img-big{
    position:relative ;
    height: 100%;
    width: 70%;
    background-color: blue;
    object-fit: cover;
}

.img-little{
    position: absolute;
    bottom: 0;
    right: auto;
    height: 55%;
    width: 50%;
    background-color: yellow;
    border: 0.5rem solid white;
    border-bottom: 0;
    transform: translateX(-25%);
    object-fit: cover;
}

.img-big-container{}

.series-title{
    position: absolute;
    top:0;
    right: 0;
    width:50%;
    height: 22%;
    background-color: transparent;
    transform: translateX(15%);
    margin-top: 1rem;
    border-top: 0.07rem solid black;

}

.series-title h4{
    padding: 0.3rem 3rem 0.1rem 3rem;
    background-color: black;
    color: white;
}

.series-subtitle{
    position: absolute;
    right: 0;
}

.section-m{
    margin: 6rem 0rem 6rem 0rem;
}



.img-big:hover .overlay{
    visibility: visible!important;
    opacity:1!important;
}


.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15rem!important;
    height: 25rem!important;
    background-color: black;
    color:white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    z-index: 3!important;
}

.overlay-series-title{
    flex-wrap: wrap;
}