.header-page{
    height: 15rem;
    background-color: yellow;
    position: relative;
    background-size: 100%;
    background-repeat: repeat!important;
    background-position: center;
    margin-bottom: 6rem;
}

.page-title{
    display: inline-block;
    position: absolute;
    top:100%;
    left: 80%;
    transform: translate(-100%,-50%);
    z-index: 0;
}

.name{
    width: 10rem;
    position: absolute;
    left: 15%;
    top:50%;
    transform: translate(-100%,-15%);
    z-index: 0;
}

.page-title h2{
    font-size: 8rem;
    color: rgb(244, 228, 3);
}

.name h1{
    font-size: 12rem;
    color: black;
}


.surname{
    position: absolute;
    top:35%;
    left:15%
}