<div *ngIf="componentName!='Home2' && componentName!='menu' && componentName!='Home' ">
    

    <div class="portfolio-details-page-title-container-p">
        <h1 class="text-uppercase display-1 portfolio-details-page-title">
            {{componentName}}
        </h1>
    </div>

</div>

<div *ngIf="componentName=='test2'">
    <app-header-page [pageName]="componentName"></app-header-page>
</div>


<div *ngIf="componentName==='Home2'">
    <app-header></app-header>
</div>


<ng-template #dynamicContainer></ng-template>