
<div class="container-fluid pt-5 margin-t" style="height: 45rem; background-color: white;">
    <div *ngFor="let section of section_array" class="row h-100 d-flex justify-content-between">
        <div class="col-2 section-item-w p-0">
            <img class="home-section-img" src="assets/images/AntonioECleopatra.jpg" alt="">
        </div>
        <div class="col-2 section-item-w p-0">
            <img class="home-section-img" src="assets/images/Come-gli-uccelli_Ph_Giuseppe-Distefano51_da-sx-Palumeri-Forni.jpg" alt="">
        </div>
        <div class="col-4 section-item-w p-0 section-description align-items text-center d-flex">
            <div class="description-container align-self-center w-100 h-auto px-1 mt-3">
                <h2 class="section-title text-uppercase d-inline-block w-100 mt-4 mb-0">
                    section title
                </h2>
                <p class="section-text text-uppercase w-100 mt-4 px-4 mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus libero in arcu fermentum, eget ullamcorper magna commodo. Duis turpis dui, convallis sed eros ut, efficitur placerat lacus. Nam iaculis tincidunt arcu, et pulvinar nulla pharetra id. Duis nec sem vulputate, porttitor magna quis, commodo neque.
                </p>
            </div>

        </div>
        <div class="col-2 section-item-w p-0">
            <img class="home-section-img" src="assets/images/Lazarus.jpg" alt="">
        </div>
        <div class="col-2 section-item-w p-0">
            <img class="home-section-img" src="assets/images/prova-header-foto.jpg" alt="">
        </div>
    </div>
</div>
