<div id="portfolio" class="container-fluid p-0 ">
    <div *ngFor="let section of section_array" class="w-100 d-flex justify-content-center section-m">
        <div class="row w-50 d-flex">
            <div class="col-12">
                {{section}}
                <div class="img-container w-100">
                    <div class="d-inline">
                        <img class="img-big " src="assets/images/prova-header-foto.jpg" alt="">
                    </div>
                    <div class="d-inline">
                        <img class="img-little" src="assets/images/prova-header-foto.jpg" alt="">
                    </div>
                    <div class="series-title text-end">
                        <h4 class="text-uppercase mt-0 d-inline-block">
                            series title
                        </h4>
                        <p class="w-75 text-end series-subtitle">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut finibus libero in arcu
                            fermentum, eget.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-6">

        </div>
        -->
    </div>
    <br>

</div>