.my-nav-list ul li{
    list-style: none;
}

.my-nav-item{
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    padding: 0.4rem 0.8rem 0.4rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: black;
    color: white;
}


.my-nav-item:hover{
    background-color: gray;
    color: white;
}

.dropdown{
    position: relative;
}

.dropdown ul{
    position: absolute;
    left: 0;
    margin: 0.3rem 0.3rem 0.3rem 0rem;
}

.dropdown ul li{   
    margin-left: 0;
}

.my-nav-mt{
    margin-top: 14rem!important;
}


.portfolio-details-page-title{
    font-size: 8rem;
    font-weight: 600;
    line-height: 8.5rem;

}

.portfolio-details-page-title-2{
    font-size: 6rem;
    font-weight: 500;

}

.title-bg{
    background-color: black;
    color: white;
}