/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
body {
    font-family: 'Hind', sans-serif!important;
    background-color: whitesmoke;
    overflow-x: hidden; /* Rimuove lo scroll orizzontale dalla pagina */
}


html{
    background-color: whitesmoke;
}

main{
    background-color: whitesmoke;
}


.serif-style-normal{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-style: italic;
}

.serif-style-bodoni{

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

      
}

.serif-style-quicksand{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.bg-lighter{
    background-color: #fbfbfb;
}

.bg-light{
    background-color: #968b84;
}

.bg-dark{
    background-color: #847b74;
}

.bg-darker{
    background-color: #1f1d1f;
}

.color-lighter{
    color:#fbfbfb;
}

.color-light{
    color:#968b84;
}

.color-dark{
    color: #847b74;
}

.color-darker{
    color: #1f1d1f;
}

.color-middle{
    color: #f93700;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  


.text-justify{
    text-align: justify!important;
}


.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.portfolio-details-page-title{
    font-size: 8rem;
    font-weight: 500;
}